<nav class="navbar navbar-expand-lg navbar-light bg-success">
    <div class="container px-4 px-lg-5">

        <a  routerLink='' class="fa-solid fa-cart-shopping "><span class="text-light">E Cart</span></a>
       
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item">

<!-- text box -->


<input (keyup)="search($event)" type="text" placeholder="Search Products Here" class="form-control" >

                </li>
            </ul>
            <form class="d-flex">

                <button routerLink="products/wishlist" class="btn btn-outline-light me-3" type="submit">
                    <i class="bi-cart-fill me-1"></i>
                    Wishlist
                    <span class="badge bg-dark text-white ms-1 rounded-pill"><i class="fa-sharp fa-solid fa-heart"></i></span>
                </button>
                
                <button routerLink="products/cart" class="btn btn-outline-light" type="submit">
                    <i class="bi-cart-fill me-1"></i>
                    Cart
                    <span class="badge bg-dark text-white ms-1 rounded-pill">{{cartItemsCount}}</span>
                </button>
            </form>
        </div>
    </div>
</nav>


