<header class="bg-dark py-5 " style="background-image: url(https://tse1.mm.bing.net/th?id=OIP.v_g_ts8YGuxy6rxLaZsbEgHaCv&pid=Api&P=0&h=180);">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder ">Shop in style</h1>
            <p class="lead fw-normal text-white-50 mb-0">With this shop homepage template</p>
        </div>
    </div>
</header>
<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div *ngFor="let product of allproducts | filter : searchKey : 'title' " class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img height="250px" class="card-img-top" [src]="product.image" [alt]="product.title" />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{product.title.slice(0,20)}}..</h5>
                            <!-- Product price-->
                           {{product.price}}
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class=" d-flex p-4 pt-0 border-top-0 bg-transparent justify-content-between">
                        <div class="text-center"><button class="btn btn-outline-dark mt-auto btn-primary" routerLink="/products/view-product/{{product.id}}">  <i  class="fa-solid fa-eye "></i></button></div>
                   
            <button (click)="addtocart(product)" class="btn btn-success" routerLink="">

                <i  class="fa-solid fa-cart-plus  "></i>

            </button>
                   
                
                    </div>
                </div>
            </div>
            </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" >Add to cart</a></div>
                    </div>
                </div>
           
   
</section>
